<% @page_title = "Servicers - Details" %>

<div class="servicers-show">
	<div class="details-section">
		<h2 class="page-title"><%= @servicer.name %></h2>
		<%= link_to("Back to List", {action: 'index', search: @search_value, sort: @sort_direction}, class: 'btn btn-info') %>
	</div><!-- /.details-section -->
	<div class="panel panel-default details-panel">
		<div class="panel-heading">
			<h4>Servicer Name</h4>
			<p><%= @servicer.name %></p>
		</div><!-- /.panel-heading -->
		<ul class="list-group">
			<li class="list-group-item">
				<h4>MERX Workgroup</h4>
				<p><%= @servicer.internal_phone %></p>
			</li><!-- /.list-group-item -->
			<li class="list-group-item">
				<h4>Phone Number</h4>
				<p><%= @servicer.external_phone %></p>
			</li><!-- /.list-group-item -->
			<li class="list-group-item">
				<h4>Address</h4>
				<p><%= @servicer.address %></p>
			</li><!-- /.list-group-item -->
			<li class="list-group-item">
				<h4>Service Assignments</h4>
				<p><%= @servicer.servicer_assignments.size %></p>
			</li><!-- /.list-group-item -->
			<li class="list-group-item">
				<h4>Notes</h4>
				<ol>
					<% @servicer.notes.reverse.each do |note| %>
						<li>
							<p><%= note.data %></p>
						</li>
					<% end %>
				</ol>
			</li><!-- /.list-group-item -->
		</ul><!-- /.list-group -->
	</div><!-- /.panel -->
</div><!-- /.servicers-show -->