<div>
	<%= f.input :name %>	
</div>
<div>
	<%= f.input :internal_phone, label: 'Phone - Internal' %>
</div>
<div>
	<%= f.input :external_phone, label: 'Phone - External' %>
</div>
<div>
	<%= f.input :hours, label: 'Hours of Operation' %>
</div>
<div>
	<%= f.input :escalation, label: 'Escalations' %>
</div>
<div>
	<%= f.button :submit, 'Submit', class: 'btn btn-primary' %>
</div>