<table summary="Technologist form fields">
	<tr>
		<th><%= f.label(:name, "Name") %></th>
		<td><%= f.text_field(:name) %></td>
	</tr>
	<tr>
		<th><%= f.label(:internal_phone, "Phone - Internal") %></th>
		<td><%= f.text_field(:internal_phone) %></td>
	</tr>
	<tr>
		<th><%= f.label(:external_phone, "Phone - External") %></th>
		<td><%= f.text_field(:external_phone) %></td>
	</tr>
	<tr>
		<th><%= f.label(:hours, "Hours of Operation") %></th>
		<td><%= f.text_field(:hours) %></td>
	</tr>
	<tr>
		<th><%= f.label(:escalation, "Escalations") %></th>
		<td><%= f.text_field(:escalation) %></td>
	</tr>
</table>