<div>
	<%= f.input :servicer do %>
		<%= f.select(:servicer_id, Servicer.all.map {|s| [s.name, s.id]}, {}, class: 'form-control') %>
	<% end %>
</div>
<div>
	<%= f.input :product do %>
		<%= f.select(:product_id, Product.all.map {|p| [p.name, p.id]}, {}, class: 'form-control') %>
	<% end %>
</div>
<div>
	<%= f.input :condition %>	
</div>
<div>
	<%= f.button :submit, 'Submit', class: 'btn btn-primary' %>
</div>