<% @page_title = "Companies" %>

<div class="companies-index-view">
	<h2><%= @page_title %></h2>
	<div class="well well-lg company-search-box">
		<%= form_tag('/companies', method: 'get') do %>
			<%= hidden_field_tag(:sort, params[sort: nil]) %>
			<div class='form-group company-search-form'>
				<div class="input-group">
					<%= text_field_tag(:search, @search_value, class: 'form-control') %>
					<span class="input-group-btn">
						<%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
						    <%= fa_icon 'search', class: 'fa-lg' %>
						<% end %><!-- /%button_tag (Search PSDB) -->
						<%= link_to({action: 'new', search: @search_value, sort: @sort_direction}, class: 'btn btn-success') do %>
							<%= fa_icon 'plus', class: 'fa-lg' %>
						<% end %><!-- /%link_to (Add New Company) -->
					</span><!-- /.input-group-btn -->
				</div><!-- /.input-group -->
			</div><!-- /.company-search-form -->
		<% end %><!-- /%form_tag -->
	</div><!-- /.company-search-box -->

	<!--<div><%#= pluralize(@companies.size, 'company') %> found</div>-->
	<table class="table table-striped listing" summary="company list">
		<thead>
			<tr>
				<th><%= sortable('Company') %></th>
				<th>Website</th>
				<th>Products</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @companies.each do |company| %>
				<tr>
					<td><%= company.name %></td>
					<td><a href="<%= company.website_url %>"><%= company.website_url %></a></td>
					<td><%= company.products.size %></td>
					<td>
						<%= link_to({action: 'show', id: company.id, search: @search_value, sort: @sort_direction}, class: 'btn btn-primary btn-primary-transparent') do %>
							<%= fa_icon 'info-circle', class: 'fa-lg icon-primary' %>
						<% end %>
						<%= link_to({action: 'edit', id: company.id, search: @search_value, sort: @sort_direction}, class: 'btn btn-warning btn-warning-transparent') do %>
							<%= fa_icon 'pencil', class: 'fa-lg icon-warning' %>
						<% end %>
						<%= link_to({action: 'delete', id: company.id, search: @search_value, sort: @sort_direction}, class: 'btn btn-danger btn-danger-transparent') do %>
							<%= fa_icon 'trash-o', class: 'fa-lg icon-danger' %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= will_paginate @products, renderer: BootstrapPagination::Rails %>
</div>