<% @page_title = "Companies" %>

<div>
	<h2><%= @page_title %></h2>
	
	<%= form_tag('/companies', method: 'get', class: 'form-inline') do %>
		<%= hidden_field_tag(:sort, params[sort: nil]) %>
		<div class='form-group'>
			<%= text_field_tag(:search, @search_value, class: 'form-control') %>
			<%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
			    <%= fa_icon 'search', class: 'fa-lg' %>
			<% end %>
			<%= link_to({action: 'new', search: @search_value, sort: @sort_direction}, class: 'btn btn-success') do %>
				<%= fa_icon 'plus', class: 'fa-lg' %>
			<% end %>
		</div>
	<% end %>





	<%= link_to("Add New Company", {:action => 'new'}, :class => 'action new') %>

	<div><%= pluralize(@companies.size, 'company') %> found</div>
	<table class="table table-striped listing" summary="company list">
		<thead>
			<tr class="header">
				<th>Company</th>
				<th>Website</th>
				<th>Products</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @companies.each do |company| %>
				<tr class="<%= cycle('odd', 'even') %>">
					<td><%= company.name %></td>
					<td><a href="<%= company.website_url %>"><%= company.website_url %></a></td>
					<td class="center"><%= company.products.size %></td>
					<td class="actions">
						<%= link_to("Details", {:action => 'show', :id => company.id}, :class => 'action show') %>
						<%= link_to("Edit", {:action => 'edit', :id => company.id}, :class => 'action edit') %>
						<%= link_to("Delete", {:action => 'delete', :id => company.id}, :class => 'action delete') %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>