<% @page_title = "Companies - Details" %>

<div class="companies-show">
	<div class="details-section">
		<h2 class="page-title"><%= @company.name %></h2>
		<%= link_to("Back to List", {action: 'index', search: @search_value, sort: @sort_direction}, class: 'btn btn-info') %>
	</div><!-- /.details-section -->
	<div class="panel panel-default details-panel">
		<div class="panel-heading">
			<h4>Company Name</h4>
			<p><%= @company.name %></p>
		</div><!-- /.panel-heading -->
		<ul class="list-group">
			<li class="list-group-item">
				<h4>Website</h4>
				<p><a href="<%= @company.website_url %>"><%= @company.website_url %></a></p>
			</li><!-- /.list-group-item -->
			<li class="list-group-item">
				<h4>Products</h4>
				<p><%= @company.products.size %></p>
			</li><!-- /.list-group-item -->
			<li class="list-group-item">
				<h4>Notes</h4>
				<ol>
					<% @company.notes.reverse.each do |note| %>
						<li>
							<p><%= note.data %></p>
						</li>
					<% end %>
				</ol>
			</li><!-- /.list-group-item -->
		</ul><!-- /.list-group -->
	</div><!-- /.panel -->
</div><!-- /.companies-show -->