<div>
	<%= f.input :name %>
</div>
<div>
	<%= f.input :image_url, label: 'Image URL' %>
</div>
<div>
	<%#= f.input :tag_list, label: 'Tags' %>
	<%= f.input :tag_list, as: :autocomplete, url: autocomplete_tag_name_products_path, 'data-auto-focus' => true, input_html: {'data-delimiter' => ','} %>
	<%= f.hint 'Separated by commas' %>
</div>
<div>
	<%= f.input :company_name, as: :autocomplete, url: autocomplete_company_name_products_path, 'data-auto-focus' => true %>
</div>
<div>
	<h3>Notes</h3>
	<%= f.simple_fields_for :notes do |note| %>
		<%= render 'note_fields', :f => note %>
	<% end %>
	<div class='links'>
		<%= link_to_add_association 'Add', f, :notes, class: 'btn btn-xs btn-success' %>
	</div>
</div>
<div>
	<%= f.button :submit, 'Submit', class: 'btn btn-primary' %>
</div>