<div>
	<%= f.input :name %>
</div>
<div>
	<%= f.input :image_url, label: 'Image URL' %>
</div>
<div>
	<%= f.autocomplete_field :tag_list, autocomplete_tag_name_products_path, 'data-delimiter' => ' ', :multiple => true, class: 'form-control' %>
	<%= f.hint 'Tags separated by a space' %>
</div>
<div>
	<%= f.input :company_name, as: :autocomplete, url: autocomplete_company_name_products_path, 'data-auto-focus' => true %>
</div>
<div>
	<%= f.association :technologists %>
</div>
<div>
	<%= f.association :servicers %>
</div>
<div>
	<h3>Notes</h3>
	<%= f.simple_fields_for :notes do |note| %>
		<%= render 'note_fields', :f => note %>
	<% end %>
	<div class='links'>
		<%= link_to_add_association 'Add', f, :notes, class: 'btn btn-xs btn-success' %>
	</div>
</div>
<div>
	<%= f.button :submit, 'Submit', class: 'btn btn-primary' %>
</div>