<div>
	<div>
		<%= f.input :name %>	
	</div>
	<div>
		<%= f.input :image_url, label: 'Image URL' %>
	</div>
	<div>
		<%= f.input :tag_list, label: 'Tags' %>
		<%= f.hint 'Separated by commas' %>
	</div>
	<div>
		<%= f.input :company do %>
			<%= f.select(:company_id, Company.all.map {|c| [c.name, c.id]}, {}, class: 'form-control') %>
		<% end %>
	</div>
	<div>
		<%= f.button :submit, 'Submit', class: 'btn btn-primary' %>
	</div>
</div>