<% @page_title = "Products - Edit" %>

<%= params.inspect %>

<%= link_to("<< Back to List", {:action => 'index', :search => @search_value, :sort => @sort_direction}, :class => 'back-link') %>

<div class="products edit">
	<h2>Edit Product</h2>

	<%= form_for(:product,
				 :url => {
				 	:action => 'update',
				 	:id => @product.id,
				 	:search => @search_value,
				 	:sort => @sort_direction
				 }) do |f| %>
		<%= render(:partial => "form", :locals => {:f => f}) %>
		<%= render(:partial => "shared/submit_button") %>
	<% end %>

</div>