<% @page_title = "Products - Edit" %>

<%= link_to("<< Back to List", {:action => 'index', :product => @search_value, :direction => @sort_direction}, :class => 'back-link') %>

<div class="products edit">
	<h2>Edit Product</h2>

	<%= form_for(:product, :url => {:action => 'update', :id => @product.id}) do |f| %>
		<%= hidden_field_tag(:direction => params[:direction]) %>
		<%= hidden_field_tag(:product => params[:product]) %>
		<%= render(:partial => "form", :locals => {:f => f}) %>
		<%= render(:partial => "shared/submit_button") %>
	<% end %>
</div>