<% @page_title = "Products" %>

<div>
	<h2><%= @page_title %></h2>
	<div class="well well-lg">
		<%= form_tag('/products', method: 'get', class: '') do %>
			<%= hidden_field_tag(:sort, params[sort: nil]) %>
			<div class='form-group'>
				<div class="input-group">
					<%= text_field_tag(:search, @search_value, class: 'form-control') %>
					<span class="input-group-btn">
						<%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
						    <%= fa_icon 'search', class: 'fa-lg' %>
						<% end %><!-- /button_tag -->
					</span><!-- /.input-group-btn -->
				</div><!-- /.input-group -->
				<%= link_to({action: 'new', search: @search_value, sort: @sort_direction}, class: 'btn btn-success') do %>
					<%= fa_icon 'plus', class: 'fa-lg' %>
				<% end %><!-- /link_to -->
			</div><!-- /.form-group -->
		<% end %><!-- /form_tag -->
	</div><!-- /.well -->


	<!--<div><%#= pluralize(@products.size, 'product') %> found</div>-->
	<table class='table table-striped listing' summary='Product list'>
		<thead>
			<tr>
				<th>&nbsp</th>
				<th><%= sortable('Product') %></th>
				<th>Company</th>
				<th>Tags</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @products.each do |product| %>
				<tr>
					<td><img src='<%= product.image_url %>' class='img-thumbnail product-thumb' alt='<%= product.name %>'></td>
					<td><%= product.name %></td>
					<td><%= product.company.name %></td>
					<td><%= product.tag_list %></td>
					<td>
						<%= link_to({action: 'show', id: product.id, search: @search_value, sort: @sort_direction}, class: 'btn btn-primary') do %>
							<%= fa_icon 'info-circle', class: 'fa-lg' %>
						<% end %>
						<%= link_to({action: 'edit', id: product.id, search: @search_value, sort: @sort_direction}, class: 'btn btn-warning') do %>
							<%= fa_icon 'pencil', class: 'fa-lg' %>
						<% end %>
						<%= link_to({action: 'delete', id: product.id, search: @search_value, sort: @sort_direction}, class: 'btn btn-danger') do %>
							<%= fa_icon 'trash-o', class: 'fa-lg' %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= will_paginate @products, renderer: BootstrapPagination::Rails %>
</div>

<br><br>