<%
=begin %>
<pre><%= params.inspect %></pre>
<pre><%= @search_value.inspect %></pre>
<pre><%= @filter_by_product.inspect %></pre>
<pre><%= @filter_by_company.inspect %></pre>
<pre><%= @filter_by_tag.inspect %></pre>
<pre><%= @sort_direction.inspect %></pre>
<%
=end %>

<% @page_title = "Products" %>

<div class="products-index">
	<h2 class="page-title"><%= @page_title %></h2>
	<div class="well well-lg search-box">
		<%= form_tag('/products', method: 'get') do %>
			<%= hidden_field_tag(:sort_by, params[sort_by: nil]) %>
			<div class='form-group search-form clearfix'>
				<div class="input-group">
					<%= text_field_tag(:search_for, @search_value, class: 'product-search-bar form-control') %>
					<span class="input-group-btn">
						<%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
						    <%= fa_icon 'search', class: 'fa-lg' %>
						<% end %><!-- /%button_tag (Search PSDB) -->
					</span><!-- /.input-group-btn -->
				</div><!-- /.input-group -->
				<div class="product-buttons pull-right">
					<%= link_to('#', id: 'msi-product-search', class: 'btn btn-primary') do %>
						<%= fa_icon 'search', text: 'MSI.com', class: 'fa-lg' %>
					<% end %><!-- /%link_to (Search MSI.com) -->
					<%= link_to('#', id: 'google-product-search', class: 'btn btn-primary') do %>
						<%= fa_icon 'search', text: 'Google', class: 'fa-lg' %>
					<% end %><!-- /%link_to (Search Google) -->
					<%= link_to({action: 'new', search_for: @search_value, filter_by_product: @filter_by_product, filter_by_company: @filter_by_company, filter_by_tag: @filter_by_tag, sort_by: @sort_direction}, class: 'btn btn-success') do %>
						<%= fa_icon 'plus', text: 'Product', class: 'fa-lg' %>
					<% end %><!-- /%link_to (Add New Product) -->
				</div><!-- /.product-buttons -->
				<div class="search-criteria-checkboxes pull-left">
					<div class="btn-group" data-toggle="buttons">
				  		<label class="btn btn-info <%= is_active?('filter_by_product', @filter_by_product) %>">
					    	<input type="checkbox" name="filter_by_product" autocomplete="off"> Product
					  	</label>
					  	<label class="btn btn-info <%= is_active?('filter_by_company', @filter_by_company) %>">
					    	<input type="checkbox" name="filter_by_company" autocomplete="off"> Company
					  	</label>
					  	<label class="btn btn-info <%= is_active?('filter_by_tag', @filter_by_tag) %>">
							<input type="checkbox" name="filter_by_tag" autocomplete="off"> Tag
					  	</label>
					</div><!-- /.btn-group -->
				</div><!-- /.product-checkboxes -->
			</div><!-- /.search-form -->
		<% end %><!-- /%form_tag -->
	</div><!-- /.search-box -->
	<table class='table table-striped listing' summary='Product list'>
		<thead>
			<tr>
				<th>&nbsp</th>
				<th>
					<%= sortable('Product') %>
					<!-- Insert Caret based on asc/desc order of products -->
					<% if params[:sort_by]==='asc' %>
						<%= fa_icon 'caret-up' %>
					<% elsif params[:sort_by]==='desc' %>
						<%= fa_icon 'caret-down' %>
					<% end %>
				</th>
				<th>Company</th>
				<%= raw "<th>Relevance</th>" unless @search_value.blank? %>
				<th>Tags</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @products.each do |product| %>
				<tr>
					<td><img src='<%= product.image_url %>' class='img-thumbnail product-thumb' alt='<%= product.name %>'></td>
					<td><%= product.name %></td>
					<td><%= product.company.name %></td>
					<%= raw "<td>#{product.pg_search_rank}</td>" unless @search_value.blank? %>
					<td><%= product.tag_list %></td>
					<td>
						<%= link_to({action: 'show', id: product.id, search_for: @search_value, filter_by_product: @filter_by_product, filter_by_company: @filter_by_company, filter_by_tag: @filter_by_tag, sort_by: @sort_direction}, class: 'btn btn-primary btn-primary-transparent') do %>
							<%= fa_icon 'info-circle', class: 'fa-lg icon-primary' %>
						<% end %>
						<%= link_to({action: 'edit', id: product.id, search_for: @search_value, filter_by_product: @filter_by_product, filter_by_company: @filter_by_company, filter_by_tag: @filter_by_tag, sort_by: @sort_direction}, class: 'btn btn-warning btn-warning-transparent') do %>
							<%= fa_icon 'pencil', class: 'fa-lg icon-warning' %>
						<% end %>
						<%= link_to({action: 'delete', id: product.id, search_for: @search_value, filter_by_product: @filter_by_product, filter_by_company: @filter_by_company, filter_by_tag: @filter_by_tag, sort_by: @sort_direction}, class: 'btn btn-danger btn-danger-transparent') do %>
							<%= fa_icon 'trash-o', class: 'fa-lg icon-danger' %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<!--<div><%#= pluralize(@products.size, 'product') %> found</div>-->
	<%= will_paginate @products, renderer: BootstrapPagination::Rails %>
</div><!-- /.products-index-view -->