<% @page_title = "Products - Details" %>

<div>
	<div>
		<h2>Product Details</h2>
		<%= link_to("Back to List", {action: 'index', search: @search_value, sort: @sort_direction}, class: 'btn btn-info') %>
	</div>
	<br>
	<br>
	<h3><%= @product.name %></h3>
	<div class="panel panel-default">
		<div class="container">
			
			<div class="row">
				<div class="col-sm-3">
					<h4>Company</h4>
					<p><%= @product.company.name %></p>
					<h4>Tags</h4>
					<p><%= @product.tag_list %></p>
				</div>
				<div class="col-sm-7">
					<h4>Notes</h4>
					<% @product.notes.reverse.each do |note| %>
						<li><%= note.data %></li>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<h3>Technical Support</h3>
	<% @product.technologists.each do |technologist| %>
		<div>
			<h4>Condition</h4>
			<p><%= TechnologistAssignment.condition(@product.id, technologist.id) %></p>
		</div>
		<table summary="Technologists" class="table table-striped">
			<tr>
				<th>Name</th>
				<td><%= technologist.name %></td>
			</tr>
			<tr>
				<th>Phone - Internal</th>
				<td><%= technologist.internal_phone %></td>
			</tr>
			<tr>
				<th>Phone - External</th>
				<td><%= technologist.external_phone %></td>
			</tr>
			<tr>
				<th>Hours of Operation</th>
				<td><%= technologist.hours %></td>
			</tr>
			<tr>
				<th>Escalation</th>
				<td><%= technologist.escalation %></td>
			</tr>
		</table>
	<% end %>
	<br>
	<br>
	<h3>Repair Service</h3>
	<% @product.servicers.each do |servicer| %>
		<div>
			<h4>Condition</h4>
			<p><%= ServicerAssignment.condition(@product.id, servicer.id) %></p>
		</div>
		<table summary="Servicers" class="table table-striped">
			<tr>
				<th>Name</th>
				<td><%= servicer.name %></td>
			</tr>
			<tr>
				<th>Phone - Internal</th>
				<td><%= servicer.internal_phone %></td>
			</tr>
			<tr>
				<th>Phone - External</th>
				<td><%= servicer.external_phone %></td>
			</tr>
			<tr>
				<th>Address</th>
				<td><%= servicer.address %></td>
			</tr>
		</table>
	<% end %>
</div>