<!DOCTYPE html>
<html>
	<head>
	  	<title>SSC Product Support</title>
		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	</head>
	<body data-no-turbolink="true">
		<!-- BRANDBAR -->
		<div class="container">
			<img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Motorola_Solutions_Logo.svg" alt="Motorola Solutions logo" id="msi-logo">
		</div><!-- /.container -->
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">SSC Product Support</a>
				</div><!-- /.navbar-header -->
				<div class="navbar-collapse collapse" id="navbar">
					<ul class="nav navbar-nav">
						<li class="navlink"><a href="/products">Products</a></li>
						<li class="navlink"><a href="/companies">Companies</a></li>
						<li class="navlink"><a href="/technologists">Technical Support</a></li>
						<li class="navlink"><a href="/servicers">Repair Service</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="navlink"><a href="#">Requests</a></li>
						<li class="navlink"><a href="#">Help</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /. container -->
		</nav>
	    <!-- MAIN -->
		<div class="main">
			<div class="container">
				<!-- FLASH -->
				<% if !flash[:notice].blank? %>
					<div class="alert alert-info alert-dismissible fade in" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button><!-- /.close -->
						<strong><%= flash[:notice] %></strong>
					</div><!-- /.alert -->
				<% end %><!-- /%flash -->
				<!-- CONTENT -->
				<div>
					<%= yield %>
				</div>
			</div><!-- /.container -->
		</div><!-- /.main -->
		<!-- FOOTER -->
		<footer class="footer">
			<div class="container">
				<p class="copyright">&copy; <%= Date.today.year %> Motorola Solutions, Inc. All Rights Reserved.</p>
			</div><!-- /.container -->
		</footer>
	</body>
</html>
